<%- include("header") -%>

<h2>This is about page</h2>
<p>
  This web app belongs to the product of September Foundation. you can use this
  product anywhere you want . just give the credtits of to September foundation.
  All rights reserve to September Foundation
</p>

<%- include("footer") -%>
